@import "./animation";

$color-success: #67C23A;
$color-success-shallow: rgb(233, 248, 236);
$color-warning: #E6A23C;
$color-warning-shallow: rgb(254, 249, 235);
$color-error: #f56c6c;
$color-error-shallow: rgb(251, 234, 234);

.a-box-root-container {
	position: absolute;
	width: 0;
	height: 0;
	font-size: 14px;
	color: #000;
	z-index: 2020;

	* {
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
	}

	.a-box-cover {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		background: rgba(0, 0, 0, .3);
	}

	.a-box-header {
		background: #fff;
		height: 45px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eee;
		padding: 0 10px;
		font-weight: 700;
		font-size: 16px;

		@media (max-width: 750px) {
			justify-content: center;
			font-weight: 400;
		}
	}

	.a-box-body {
		background: #fff;
		padding: 20px 10px;
		font-size: 14px;
		color: #444;

		@media (max-width: 750px) {
			text-align: center;
			color: #666;
			padding: 30px 10px;
		}
	}

	.a-box-footer {
		background: #fff;
		border-top: 1px solid #eee;
		display: flex;
		justify-content: flex-end;
		padding: 10px;

		.a-box-btn {
			width: 80px;
			flex: 0 0 80px;
			@media (max-width: 750px) {
				width: 100%;
				flex: 1;
			}
		}

		@media (max-width: 750px) {
			padding: 0;
		}
	}

	.a-box-btn {
		flex: 1;
		background: transparent;
		outline: none;
		cursor: pointer;
		padding: 5px 12px;
		border: 1px solid #999;
		border-radius: 3px;
		font-size: 14px;
		margin-left: 15px;
		user-select: none;

		&:active {
			background: #f5f5f5;
		}

		@media (max-width: 750px) {
			color: #666;

			&:last-of-type {
				border-left: 1px solid #eee !important;
			}

			&:nth-child(1) {
				border-left: none !important;
			}
		}

		&.a-box-confirm-btn {
			border-color: #000;
			background: #000;
			color: #fff;

			&:active {
				background: #333;
			}

			@media (max-width: 750px) {
				color: #000;
				background: transparent;
				&:active {
					background: #f7f7f7;
				}
			}
		}

		@media (max-width: 750px) {
			width: 100%;
			flex: 1;
			padding: 12px 10px;
			margin: 0;
			background: transparent;
			border: none;
			border-radius: 0;
			font-size: 16px;
		}
	}

	.a-box-input {
		max-width: 100%;
		width: 100%;
		box-shadow: none;
		border: 1px solid #999;
		min-height: 35px;
		border-radius: 3px;
		outline: none;
		padding: 0 10px;
		font-size: 14px;
		appearance: none;
		@media (max-width: 750px) {
			min-height: 40px;
		}
	}

	textarea.a-box-input {
		padding: 5px 10px;
	}

}

.a-box-modal-container {
	position: fixed;
	display: block;
	width: 450px;
	z-index: 1001;
	left: 50%;
	top: 0;
	margin: 20vh auto 0;
	transform: translateX(-50%);
	overflow: hidden;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #666;

	@media (max-width: 750px) {
		max-width: 85%;
		margin-top: 0;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: none;
		border-radius: 5px;
	}
}

.a-box-container {
	.a-box-icon {
		width: 20px;
		height: 20px;
		background-size: 100% 100%;

		.svg-icon {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&.mobile {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		background: rgba(0, 0, 0, 0.8);
		padding: 20px 10px;
		border-radius: 5px;

		&.none {
			padding: 15px 10px;
		}

		.a-box-wrap {
			background: transparent !important;
			border: none !important;

			.a-box-icon {
				margin: 0 auto 10px;
				width: 50px;
				height: 50px;
			}
		}


		.a-box-body {
			background: transparent !important;
			padding: 0;
			color: #fff;
			line-height: 1.8;
			width: 100%;
			min-width: 120px;
			max-width: 90%;
			font-size: 14px;
		}
	}

	&.none {
		.a-box-icon {
			display: none;
		}
	}

	&.success {
		.a-box-wrap {
			color: $color-success;
			border: 1px solid $color-success;
			background: $color-success-shallow;
			box-shadow: none;
		}
	}

	&.error {
		.a-box-wrap {
			color: $color-error;
			border-color: $color-error;
			background: $color-error-shallow;
			box-shadow: none;
		}
	}

	&.warning {
		.a-box-wrap {
			color: $color-warning;
			border: 1px solid $color-warning;
			background: $color-warning-shallow;
			box-shadow: none;
		}
	}

	&.loading {
		.a-box-wrap {
			//background: #fff;
		}

		.a-box-icon {
			animation: loadingRotate 1.6s linear infinite;
		}
	}

	&.local-loading {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(251, 251, 251, .8);
		z-index: 100;

		.a-box-wrap {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.a-box-body {
				line-height: 1.9;
				font-size: 14px;
				color: #333;
			}
		}
	}
}

.a-box-message-list {
	position: fixed;
	top: 0;
	z-index: 1002;
	left: 50%;
	margin: 15px auto;
	transform: translateX(-50%);
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	.a-box-wrap {
		border-radius: 3px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		overflow: hidden;
		padding: 0 20px;
		border: 1px solid #000;
		background: #f7f7f7;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.a-box-body {
		padding: 0 5px;
		background: transparent;
	}


	.a-box-container {
		height: 55px;
		transition: height .3s;
		box-shadow: none;
		color: #000;
		margin: 0 auto;

		&.hide {
			box-shadow: none;
			height: 0;
			opacity: 0;
		}
	}
}

.a-box-notice-list {
	@extend .a-box-message-list;
	left: auto;
	right: 15px;
	transform: translateX(0);

	.a-box-container {
		height: auto;
		margin-bottom: 10px;
		transition: all .3s;
		width: 250px;

		&.hide {
			box-shadow: none;
			opacity: 1;
			display: none;
		}
	}

	.a-box-wrap {
		position: relative;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 10px 10px 10px 40px;
		background: #fff !important;
	}

	.a-box-title {
		flex: 0 0 100%;
		width: 100%;
		color: #000;
		font-weight: 700;
		text-align: left;
		line-height: 1.4;
		padding-bottom: 7px;
	}

	.a-box-icon {
		position: absolute;
		flex: 0 0 20px;
		top: 10px;
		left: 10px;
	}

	.a-box-body {
		flex: 1;
		text-align: left;
		padding: 0;
		line-height: 1.6;
		font-size: 14px;
	}
}
